<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid >
    <ng-container>
      <ion-row>
        <ion-col col-6 size="6" *ngFor ="let item of categories">
            <ion-card (click)="goCategories(item.strCategory)">   
                    <img [src]="item.strCategoryThumb" alt="">
                    <div class="card-title">{{item.strCategory}}</div> 
            </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>  
</ion-content>


