<ion-header>
  <ion-toolbar>
    <ion-title>about-us</ion-title>
  </ion-toolbar>

  <style>
    
  </style>

</ion-header>

<ion-content>

  <img src="assets/icon/FreshNow.png" alt="">

  <ion-item>
    <ion-label position="stacked" color="primary">What is FreshNow?</ion-label>
    <ion-textarea readonly>
      FreshNow is an App that helps you find delicious recipes in a variety of categories and tastes. Then you can get the ingredients to prepare the best meal and sent them directly to your door.
    </ion-textarea> 
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Our Vision</ion-label>
    <ion-textarea readonly>
      To be always the source of the freshest ingredients around town. Having partnership with local sources so we can provide organic and transgenic free products.
    </ion-textarea> 
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Our Mission</ion-label>
    <ion-textarea readonly>
      Supply our products and good taste in food using this platform in a way that you can share with your friends and family. 
    </ion-textarea> 
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Contact Us</ion-label>
    <ion-textarea readonly>
      <address>
        Email: <a href="mailto:ivan1998agos@gmail.com">ivan1998agos@gmail.com</a><br>
        Cellphone: <ion-button (click)='callContact()'> Call now </ion-button><br>
      </address>
    </ion-textarea> 
  </ion-item>

</ion-content>
