<ion-header>
</ion-header>

<ion-content class="background" >
  
  <ion-grid>
    <p id="label" style="margin-top: 78%;"><img src="{{photo}}?widht=150" alt="imguser" style="
      margin-left: 28%;
      border-radius: 50%;">
    </p>
    <p id="label" > Name: {{name}}</p>
    <p id="label" > Email: {{email}}</p>
    <p id="label" > Email Verified: {{verif}}</p>
    <p id="label" > id: {{id}}</p>
    

    
  </ion-grid>

    <ion-button  id="botonIniciar" color="success"  (click)="Onlogout()">Log out</ion-button>    

</ion-content>
