.labelFactura{
    font-size: 16px;
    text-align: left;
    margin-top: 3%;
}

.labelFacturaPago {
    font-size: 17px;
    text-align: center;
}

#botonPago{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    text-align: center;
}